.bigTitle{
    text-align: center;
}
.container{
    position: absolute;
    width: 100%;
    border: 1px;
}
h1{
    color: blue;
}
.divCentered{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.loginBox{
    margin: auto;
    width: 50%;
    text-align: center;
    height:400px;
}

.spanBox{
    padding:5px;
    margin: 5px;
    border: 10px;
}

.inputFields{
    width: 20%;
    height: 30px;
    border-radius: 5px;
}

.loginError{
    color: red;  
    transition: color 4s;
}
.buttons{
    width: 10%;
    height: 30px;
    border-radius: 5px;
}

